[submodule "frontend"]
	path = frontend
	url = https://github.com/lFunkwnon01/igualab-mock.git
[submodule "06-Desarrollo/BCK-IGUALAB"]
	path = 06-Desarrollo/BCK-IGUALAB
	url = https://github.com/lFunkwnon01/BCK-IGUALAB.git
[submodule "06-Desarrollo/FE-IGUALAB"]
	path = 06-Desarrollo/FE-IGUALAB
	url = https://github.com/lFunkwnon01/FE-IGUALAB.git
